@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c0c0c0;
}

/* NAVEGAÇÃO */

nav{
    background-color: #cfcece;
}

#title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60pt;
    display: flex;
    justify-content: center;
    cursor: default;
    color: #0804ff;
}

#logotipo{
    width: 90px;
    margin-left: 37%;
    margin-top: 0.5%;
}

#bloco-a{
    background-color: #fff;
    height: 50px;
    width: 700px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
}